.Container {
    margin: 0 auto;
    padding: 0;
    text-transform: uppercase;
    width: 90%;
    text-align: center;
    font-size: 6rem;
    color: white;
}

@media only screen and (max-width: 768px) {
    .Container {
        font-size: 2.3rem;
    }
}